.moreinfo{
    .shoeimg{
        width: 100%;
        object-fit: cover;
        height: 11em;
    }
    .title{
        font-weight: bold;
        font-size: 1.25em;
    }
    .desc{
        line-height: 1.5em;
    }
}

@media only screen and (min-width: 920px) { 
    .feature{
        display: grid;
        grid-template-columns: repeat(2,auto);
        gap: 3em;
        margin: 8em;
        .shoeimg{
            cursor: pointer;
            width: 25em;
        }
        .content{
            text-align: right;
            width: 25em;
        }
        }

    }   

@media only screen and (min-width: 1200px) {
  .feature{
      gap: 0;
  }
}